<div
  class="container-fluid"
  [style.height.px]="documentHeight"
  (window:resize)="onResize($event)"
>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 login-logo">
      <div class="col-12">
        <i class="fa fa-meetup logo" aria-hidden="true"></i>
      </div>
      <div class="col-12 divider"></div>
      <div class="col-12">
        <div class="align-items-center logo-name">
          <!-- Welcome to Milan! -->
        </div>
        <div class="align-items-center logo-sub-name">
          <!-- One place for meeting with new people and have friends. -->
        </div>
      </div>
      <div class="d-flex align-items-end logo-sub-name">
        test
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12"></div>
  </div>
</div>
